entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Вправа24"
mode = "sequential"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PYTHONPATH=/nix/store/6sgnlndgrd0sqzcg97qzc7chsh76dv9i-python3.11-tkinter-3.11.8/lib/python3.11/site-packages python exercise24.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Вправа24"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Вправа24.1"

[[workflows.workflow]]
name = "Вправа24.1"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PYTHONPATH=/nix/store/6sgnlndgrd0sqzcg97qzc7chsh76dv9i-python3.11-tkinter-3.11.8/lib/python3.11/site-packages python exercise24.1.py"

[workflows.workflow.metadata]
outputType = "vnc"
